/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
/* Variables */
:root{
    --main-color: #7E7E7E;
    --body-color: #f8f8ff;
    --container-color: #EEEEEE;
    --heading-color: #333333; 
    --box-color: #708090;
    --bg-color: #555555;
}

body{
    color: var(--bg-color);
    background: var(--body-color);
}

img{
    width: 100%;
}

section{
    padding: 3rem 0 2rem; 
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    max-width: 960px;
    margin: auto;
    width: 100%;
}

/* Header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    font-size: 3.0rem;
    font-weight: 600;
    color: var(--bg-color);
}

.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-link{
    font-size: 1.25rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: var(--bg-color);
}

.nav-link:hover{
    color: var(--main-color);
    background: var(--container-color);
    transform: 0.3s all linear;
}

/* Home */
.home{
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.home-content{
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-text{
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .bx{
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
    color: var(--bg-color);
    background: var(--container-color);
}

.social .bx:hover{
    color: var(--main-color);
    background: var(--container-color);
    transition: 0.3 all linear;
}
